<div class="modal-body no-p">
  <div class="row">
    <div class="col-xs-12">
      <section class="panel panel-primary no-b">
        <header class="panel-heading clearfix brtl brtr">
          <div class="overflow-hidden">
            <a href="javascript:;" class="h4 show no-m pt5"><%= obj.title||'' %></a>
            <small><%= obj.author||'' %>  <%=moment(obj.publishAt*1000).format('YYYY-MM-DD HH:mm:ss')%> <%=obj.client%></small>
          </div>
        </header>
        <div class="list-group" style="padding: 5px;">
          <%-typeof obj.contentId!='undefined'?obj.contentId.content:"" %>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>
